<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="shortcut icon" href="https://alpinejs.dev/favicon.png">
  <title>Photo</title>

  <!-- Bulma -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

  <!-- Alpine.js -->
  <script src="//unpkg.com/alpinejs" defer></script>

  <!-- Axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
  <div class="content is-large">
    <h1>Bulma Responsive Gallery</h1>
    <p>I was having trouble finding an example of a Bulma based gallery that wrapped. Here is what I came up with...</p>

  </div>

  <div class="columns is-multiline" x-data="getItems">
    <template x-for="image in images" :key="image.id">
      <div class="column is-one-quarter-desktop is-half-tablet">
      <div class="card">
        <div class="card-image">
          <figure class="image is-3by2">
            <img
              :src="image.image"
              alt=""
            >
          </figure>
          <div class="card-content is-overlay is-clipped">
            <span class="tag is-info" x-text="image.title"></span>
          </div>
        </div>
        <footer class="card-footer">
          <a class="card-footer-item">
            BUY
          </a>
        </footer>
      </div>
    </div>
    </template>
  </div>

  <script src="{% static 'js/main.js' %}"></script>
</body>

</html>